.sideBar {
  transition: all .5s;
  position: fixed;
  left: calc(var(--padding) - 300px);
  // top: 68px;
  top: 0;
  width: 300px;
  background-color: rgb(40, 42, 54);
  min-height: 100vh;
  z-index: 1;
  color: #e2e3e7;

  a {
    color: #e2e3e7;
  }

  nav {
    padding-top: 200px;
    // position: relative;
  }

  .showBtn {
    position: absolute;
    top: 70px;
    right: -70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  ul {
    list-style: none;
  }
}