.section {
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 15px;
  max-width: 1000px;
}

.about {
  padding: 20px 15px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.technologyBlock {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  text-align: center;
}

.oneTechnology {
  height: 370px;
  border: 1px solid var(--border);
  border-radius: 5px;
  transition: box-shadow .2s ease, border .2s ease;
  font-size: 1.6rem;

  h3 {
    padding-top: 25px;
  }

  p {
    padding: 10px 10px 0;
  }

  &:hover {
    border: 1px solid var(--border-hover);
    box-shadow: 0 5px 10px var(--shadow);
  }
}

@media screen and (max-width: 900px) {
  .technologyBlock {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 600px) {
  .technologyBlock {
    grid-template-columns: 1fr;
  }
}