.article {
  margin: 70px auto 0;
  padding: 0 15px;
  max-width: 1000px;
}

.h1 {
  text-align: center;
}

.h3 {
  margin: 15px 0 15px;
}

.ol1 {
  margin-top: 35px;
  counter-reset: list;
  list-style: none;
  padding-left: 0px;

  .li1:before {
    counter-increment: list;
    content: "";

  }

  ol {
    padding-left: 20px;
    counter-reset: list;
    columns: 3;

    li {
      display: block;
    }

    li:before {
      display: inline-block;
      width: 40px;
      counter-increment: list;
      content: counters(list, ".") " ";
    }
  }
}

.a {
  color: var(--link);
  margin-left: 10px;

  &:hover {
    color: var(--link-hover);
  }
}

@media screen and (max-width: 900px) {
  .ol1 {
    ol {
      columns: 2;
    }
  }
}

@media screen and (max-width: 600px) {
  .ol1 {
    ol {
      columns: 1;
    }
  }
}